body {
    font-family: 'Benton Sans', sans-serif;
    line-height: 1.6;
    background-color: #FAFAFA;
    color: #1a1a1a;
    margin: 0;
    padding: 0 20px;
    border: none;
}

.md-header,
.md-tabs {
  background-color: #ECEFF1;
  height: 48px;
  padding: 0 1rem;
}

.md-nav__title,
.md-tabs__link,
.md-header__title {
  color: #1a1a1a;
}

h1, h2 {
    font-weight: bold;
    color: #1a1a1a;
}

a {
  color: #005A9C;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #003f73;
  text-decoration: underline;
}

/* Accessible button color */
.back-to-top {
  background-color: #800000;
  color: #ffffff;
}
.back-to-top:hover {
  background-color: #660000;
}

:root {
  --md-primary-fg-color: #800000;
  --md-primary-bg-color: white;
  --md-accent-fg-color: #005A9C;
  --md-typeset-a-color: #005A9C;
}