@import url('https://fonts.googleapis.com/css2?family=Benton+Sans&display=swap');

body {
    font-family: 'Benton Sans', sans-serif;
    line-height: 1.6;
    background-color: #FFFFFF;
    color:#000000;
    margin: 0;
    padding: 0 20px;
    border: 2px solid;
}

/* iu-colors.css */
.md-header,
.md-tabs {
  background-color: #990000 !important;
}

.md-nav__title,
.md-tabs__link,
.md-header__title {
  color: white !important;
}

/* Darker blockquote styling */
.md-typeset blockquote {
  background-color: #f0f0f0; /* Light gray background */
  border-left: 4px solid #990000; /* IU Crimson left bar */
  color: #222222; /* Darker text */
  padding: 1em;
  margin: 1em 0;
}